@font-face {
  font-family: 'Clear Sans';
  font-style: normal;
  font-weight: 100;
  src: local('Clear Sans Thin'), local('ClearSans-Thin'), url(/fonts/ClearSans-Thin.woff) format('woff');
}
@font-face {
  font-family: 'Clear Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Clear Sans Light'), local('ClearSans-Light'), url(/fonts/ClearSans-Light.woff) format('woff');
}
@font-face {
  font-family: 'Clear Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Clear Sans Regular'), local('ClearSans-Regular'), url(/fonts/ClearSans-Regular.woff) format('woff');
}
@font-face {
  font-family: 'Clear Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Clear Sans Bold'), local('ClearSans-Bold'), url(/fonts/ClearSans-Bold.woff) format('woff');
} 
a{

}
body{
    /* font-family: "Clear Sans", sans-serif; */
    font-family: "Clear Sans";
    font-weight: 100;
}
html{
    background: whitesmoke;
}
h1{
    color: #009688;
}
h2{
    color: #009688;
    margin: 0;
}
.box{
    padding: 0;
    border-radius: 15px 15px 0 15px;
    background: white;
    overflow: hidden;
    position: relative;
}
.box > *{
    display: inline-block;
}
.box > .content > img{
    vertical-align: bottom;
}
.box > .info{
    position: absolute;
    padding: 15px;
}
.card {
    position: relative;
    margin-right: 100px;
}
.card p{
    color: #9E9E9E;
    font-size: 20px;
    font-weight: 400;
    margin: 0;
}
.card p.sub, .card p.auth{
    margin: 25px 0;
}
.card > p.auth{    
    text-align: right;
    color: #00BCD4;
}
.card > p.sub{    
    color: #BDBDBD;
    width: 250px;
    position: absolute;
    right: -250px;
}
.card > p.sub::before{
    content: '\00a0| ';
}
.card > .triangle{    
    width: 0px;
    height: 0px;
    border-left: 10px solid transparent;
    border-right: 10px solid white;
    border-top: 10px solid white;
    border-bottom: 10px solid transparent;
    position: absolute;
    right: 0;
}
.card .content{
    background: #03A9F4;
    min-width: 140px;
    min-height: 75px;
    vertical-align: bottom;
}
.main{
    max-width: 1200px;
    margin: 50px auto;
}